.card-text {
    color: rgb(90, 89, 89);
  }
  .card img:hover {
    transform: scale(0.9);
  }
  .card-price {
    color: green;
    font-weight: bold;
  }
  .card-middle{
    max-height: min-content;
  }
  